DISCORD_TOKEN="[Your Discord bot token]"
OCR_SPACE_API_KEY="[Your OCR API key]"
# Channel for system messages any channel that always work
MAIN_CHANNEL_ID=000000000000000000
RATER_HOST=http://rater

# Postgres
POSTGRES_HOST=db
POSTGRES_PORT=9302
POSTGRES_USER=zero
POSTGRES_PASSWORD=zeroPass
POSTGRES_DB=lisa
PGDATA=/var/lib/postgresql/data/db-files/

# Postgres, MariaDB and Ghost content common path
DATA_MOUNT_PATH=/opt/lisa-discord

# Use "dev" for development
STAGING=prod
# Additional services
COMPOSE_PROFILES=monitor,site,test

# Ghost
GHOST_URL=http://lisa.zero-team.pro
GHOST_HOST=lisa.zero-team.pro
# Optional for Let’s Encrypt companion
GHOST_LE_HOST=lisa.zero-team.pro
# Ghost mail
GHOST_MAIL_FROM="Name <user@example.com>"
GHOST_MAIL_HOST=example.com
GHOST_MAIL_USER=user@example.com
GHOST_MAIL_PASS=password

# Ghost DB
MYSQL_ROOT_PASSWORD=zeroPass

# Admin panel
ADMIN_HOST=lisa-admin.zero-team.pro
ADMIN_HOST_LE=lisa-admin.zero-team.pro
