@import '../../styles/vars';

.server-list {
}

.server-list__logo {
  $size: 48px;
  width: $size;
  height: $size;
  border-radius: 50%;
}

.server-list__table__information {
  display: flex;
  column-gap: 16px;
}
