@import '../../styles/vars';

.server-list {
}

.server-list__logo:global(.MuiAvatar-root) {
  $size: 48px;
  width: $size;
  height: $size;
}

.server-list__table__information {
  display: flex;
  column-gap: 16px;
}
