.editor {
  padding: 10px;
  border-radius: 5px;
  background-color: $color-dark;

  &__toolbar {
    margin-bottom: 8px;
    border-bottom: 1px solid $color-gray;
  }

  &__button {
    > :global(.MuiSvgIcon-root) {
      color: $color-white;
    }

    &_disabled > :global(.MuiSvgIcon-root) {
      color: $color-light-gray;
    }
  }

  &__area {
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    padding: 0;
    border: none;
    background-color: $color-dark;
    color: $color-text;
    resize: none;
    overflow-y: scroll !important;

    &:active,
    &:focus {
      outline: none !important;
    }

    p {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }
}

.editor_readonly {
  position: relative;
  max-height: 130px;
  padding: 0;
  border-radius: 0;
  background: none;
  overflow-y: hidden;

  .editor {
    &__area {
      max-height: 130px;
      overflow-y: hidden !important;
    }

    &__hider {
      position: absolute;
      width: 100%;
      height: 20px;
      top: 110px;
      z-index: 10;
      background: linear-gradient(transparent, 50%, $color-dark);
    }
  }
}
