@import 'src/styles/vars';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-dark;
}

.app-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: $color-content;
  color: $color-text;

  & > :not(:first-child) {
    flex: 1;
    overflow: hidden;
  }
}
