@import '../../styles/vars';
@import '../../styles/respond-to';

.header-container {
  display: flex;
  height: 72px;
  background: $color-menu;
  color: $color-white;
}

.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0 30px;
  align-items: center;

  &__navigation {
    display: none;

    @include respond-max($lg) {
      display: block;
      margin-right: 20px;
    }
  }

  &__title {
    flex-grow: 1;

    @include respond-max($sm) {
      display: none;
    }
  }

  &__user {
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;

    &__avatar {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    &__name {
      align-self: center;
      font-weight: 500;
    }
  }

  &__logout {
    align-self: center;
    margin-left: auto;
  }
}
