@import '../../styles/vars';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $color-dark;
}

.app-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: $color-content;
  color: $color-text;

  & > :not(:first-child) {
    flex: 1;
    overflow: hidden;
  }
}

:global {
  .Toastify__toast-container {
  }

  .Toastify__toast-container--top-right {
    top: calc(72px + 1em);
  }

  .Toastify__toast {
  }

  :local(.app),
  .MuiModal-root {
    .MuiButton-containedPrimary {
      background-color: $color-blurple;
    }

    .MuiSvgIcon-root {
      color: $color-white;
    }

    .MuiCheckbox-colorPrimary {
      .MuiSvgIcon-root {
        color: rgba(255, 255, 255, 0.5);
      }

      &.Mui-checked .MuiSvgIcon-root {
        color: $color-blue;
      }

      &.Mui-disabled .MuiSvgIcon-root {
        opacity: 0.5;
      }
    }

    .MuiBadge-badge {
      background-color: $color-blurple;
      color: $color-white;
    }

    .MuiChip-filled {
      color: $color-white;
      background-color: $color-blurple;
    }

    .MuiPaper-root {
      background-color: $color-dark;
    }

    .MuiTableCell-root {
      color: $color-text;
      border-color: $color-content;
    }
  }
}
