@use '../../styles/vars';

.code {
  margin: 10px 0;
  padding: 16px 8px;
  position: relative;

  pre {
    margin: 0;
    overflow-wrap: break-word;
  }

  code {
    white-space: pre-wrap;
    word-break: break-all;
  }

  &__copy {
    &:global(.MuiFab-root) {
      visibility: hidden;

      position: absolute;
      top: 5px;
      right: 5px;
      $size: 32px;
      width: $size;
      height: $size;
      min-height: unset;
      background: none;
      border-radius: 5px;

      &:hover {
        background-color: vars.$color-gray;
      }
    }

    &__icon {
      &:global(.MuiSvgIcon-root) {
        $size: 24px;
        width: $size;
        height: $size;
      }
    }
  }
}

.code:hover {
  .code__copy:global(.MuiFab-root) {
    visibility: visible;
  }
}
