.module-list {
  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;

    // Exec class, "&" does not work here for some reason
    .module-list__title__icon {
      $size: 48px;
      width: $size;
      height: $size;
    }
  }
}
