@import '../../styles/vars';

.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 40px 60px;
  color: $color-black;
  border: darkgray 1px solid;
  border-radius: 10px;
  background: $color-white;

  .login-field {
    margin-top: 20px;
  }

  .login-submit {
    margin-top: 20px;
  }

  .login-discord {
    margin-top: 30px;
    background-color: $color-blurple;
  }
}
