@import '../../styles/vars';

.module-table {
  &__transport {
    width: 64px;

    &__content {
      display: flex;
      gap: 4px;
    }
  }

  &__name {
    width: 200px;
  }

  :global(.MuiTableCell-root) {
    padding-left: 8px;
    padding-right: 8px;
  }

  .module-table__raw {
    :global(.MuiTableCell-root) {
      padding: 8px;
    }
  }
}
