@import '../../styles/vars';

.telegram-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  row-gap: 16px;

  &__channel {
    display: flex;
    column-gap: 16px;
    align-items: center;
  }
}
