// COLORS
$color-blurple: #5865f2;
$color-green: #57f287;
$color-yellow: #fee75c;
$color-fuchsia: #eb459e;
$color-red: #ed4245;
$color-white: #ffffff;
$color-black: #000000;

$color-dark: #1b1b1b;
$color-menu: #202225;
$color-content: #36393f;
$color-gray: #515960;
$color-light-gray: #87909e;
$color-text: #dcddde;

$color-blue: #1976d2;
$color-blurple-selected: #3d46a9;
