@import 'src/styles/vars';

.server-page {
  margin: 10px;
}

.server-page__title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;

  img {
    $size: 64px;
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  &__member-count {
    :global(.MuiBadge-badge) {
      background-color: $color-blurple;
      color: $color-white;
    }
  }

  &__member-icon {
    color: $color-white;
  }
}

.server-page__info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
