@import 'src/styles/vars';

.channel-list {
}

.channel-list__content {
}

.channel-list__table {
  &:global(.MuiPaper-root) {
    background-color: $color-dark;
  }

  :global(.MuiTableCell-root) {
    color: $color-text;
    border-color: $color-content;
  }

  :global(.MuiCheckbox-root) {
    padding: 5px;
  }
}
