@import 'src/styles/vars';

.channel-list {
}

.channel-list__content {
}

.channel-list__table {
  &__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__text {
      font-weight: bold;
    }

    &__chip {
      margin-left: 5px;
      margin-top: -10px;
    }
  }

  :global(.MuiCheckbox-root) {
    padding: 5px;
  }
}

.channel-list__table__raw {
  &_category {
    background-color: $color-menu;
  }
}
