@import 'src/styles/vars';

.navigation {
  width: 200px;
  height: available;
  background: $color-menu;
  border-top: $color-dark 2px solid;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
