@use '@/styles/respond-to';

.navigation {
  width: 200px;
  background: $color-menu;
  border-top: $color-dark 2px solid;

  @include respond-to.respond-max(respond-to.$lg) {
    display: none;
  }
}

.navigation__content {
  position: sticky;
  top: 0;
  flex: 1;
}

.navigation_force {
  display: block;
}

.navigation__text {
  color: $color-text;
}
