aiohttp==3.8.1
asgiref==3.4.1
Flask==2.0.2
fuzzywuzzy==0.18.0
numpy==1.21.4
opencv-python-headless==4.5.4.60
python-dotenv==0.19.2
python-Levenshtein==0.12.2
Unidecode==1.3.2
validators==0.18.2
requests==2.26.0
Pillow==8.4.0
pytesseract==0.3.8
