.server-module-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: min(420px, 100%);
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: $color-dark;
  border-radius: 10px;
}

$module-h-padding: 4px;

.server-module-list__title {
  width: 100%;
  margin: 0.3em 0;
}

.server-module-list__module {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px $module-h-padding;
  background-color: $color-menu;
  border-radius: 10px;

  // MUI Avatar overload
  > .server-module-list__module__icon {
    $size: 32px;
    width: $size;
    height: $size;
  }

  &__title {
    min-width: 0;
    font-size: 18px;
    font-weight: bold;
    overflow-wrap: anywhere;

    &_disabled {
      opacity: 0.5;
    }
  }

  &__actions {
    margin-left: auto;
  }
}
